__pycache__
src/__pycache__/*

.ipynb_checkpoints
*.ipynb

.minetrc
.env

*.csv
!account_list_part_1.csv
!page_list_part_2.csv

*.txt
!requirements.txt

*.png

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
comment.cut